target/
*.class
*.jar
*.war
*.log
*.iml
.idea/
.settings/
.project
.factorypath

test/
*.py
*.sql
*.md
*.txt
*.pdf
*.docx
*.doc
*.xls
*.xlsx
*.pptx
*.ppt
*.jpg
*.png

.claude/
*.settings.local.json

nul
