target/
*.class
*.jar
*.war
*.log
*.iml
.idea/
.settings/
.project
.factorypath

test/
*.py
*.sql
*.md
*.txt
*.pdf
*.docx
*.doc
*.xls
*.xlsx
*.pptx
*.ppt
*.jpg
*.png

nul
.claude/settings.local.json
.claude/settings.local.json
